<div class="panel panel-default">
  <div class="panel-body">
    <div class="">
      <h3>Contato</h3>
      <p>
        <small>* obrigatório</small>
      </p>
    </div>
    <div class="row" style="padding-top:3px">
      <div class="col-lg-12 col-md-12">
        <div class="alert alert-success" ng-show="response">
          <p>
            Sua mensagem foi enviada com sucesso! Entraremos em contato em breve.
          </p>
        </div>
        <div class="alert alert-danger" ng-show="response == false">
          <p>
            Ooops!! Ocorreu um erro, tente novamente mais tarde! ou envie um email para <a href="mailto:contato@alquimiacapilar.com">contato@alquimiacapilar.com</a>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <form role="form" class="form-group " method="post" action="contato.php" >
        <div class="col-lg-12">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">*</div>
              <input type="text" class="form-control" placeholder="Nome" name="name" id="InputName"  required ng-model="name">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">*</div>
              <input type="email" class="form-control" placeholder="Email" id="InputEmail" name="email" required ng-model="email"  >
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">*</div>
              <input type="text" class="form-control" placeholder="Telefone" name="telefone" id="InputTel"  required ng-model="telefone">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">*</div>
              <textarea name="message" id="InputMessage" class="form-control" rows="5" placeholder="Sua mensagem aqui!!" required ng-model="message"></textarea>
            </div>
          </div>
          <input type="button" value="Enviar" class="btn btn-success" ng-click="sendEmail()">
        </div>
      </form>
    </div>
    <p><h4>Desde já agradeçemos o contato</h4></p>
  </div>
</div>
