<div class="panel panel-default">
  <div class="panel-body">
    <div class="hide">
      <h3>Contato</h3>
      <p>
        <small>* obrigatório</small>
      </p>
    </div>
    <div class="row">
      <form role="form" class="form-group hide" method="post" action="contato.php" >
        <div class="col-lg-12">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">*</div>
              <input type="text" class="form-control" placeholder="Nome" name="name" id="InputName"  required>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">*</div>
              <input type="email" class="form-control" placeholder="Email" id="InputEmail" name="email" required  >
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">*</div>
              <input type="text" class="form-control" placeholder="Telefone" name="telefone" id="InputTel"  required>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">*</div>
              <textarea name="message" id="InputMessage" class="form-control" rows="5" placeholder="Sua mensagem aqui!!" required></textarea>
            </div>
          </div>
          <input type="submit" name="submit" id="submit" value="Enviar" class="btn btn-success">
        </div>
      </form>
    </div>

    <p><h4>Desde já agradeçemos o contato</h4></p>
    <ul>
      <li><i class="glyphicon glyphicon-phone"></i> Leandro - <a href="tel:+553183507880">(31) 8350-7880</a></li>
      <li><i class="glyphicon glyphicon-envelope"></i> <a href="mailto:contato@alquimiacapilar.com">contato@alquimiacapilar.com</a></li>
    </ul>
  </div>
</div>
