<div class="row">
  <div class="col-lg-4" ng-repeat="product in products">
    <div class="thumbnail" style="height:214px;margin:0px; padding-top:0px; padding-bottom:0px">
      <img class="" src="produtos/{{product.image}}" alt="product.name" style="width:{{product.width}}px" height="140">
    </div>
    <div class="thumbnail" style="height: 200px">
      <h2>{{product.name}}</h2>
      <h4 ng-if="product.helpText != ''">{{product.helpText}}</h4>  
      <p>{{product.shortDescription}}</p>
    </div>
    <p><a class="btn btn-default" href="#/produto/{{product.id}}" role="button">Saiba mais &raquo;</a></p>
  </div>
</div>