<div class="row">
  <div class="col-lg-4">
    <div class="thumbnail" style="height:214px;margin:0px; padding-top:0px; padding-bottom:0px">
      <img class="" src="produtos/plastica_fios.jpg" alt="Plástica dos fios" width="140" height="140">
    </div>
    <div class="thumbnail" style="height: 200px">
      <h2>Plástica dos Fios</h2>
      <h4>Três passos</h4>  
      <p>A linha PLÁSTICA DOS FIOS possui um complexo equilibrado de proteínas e aminoácidos essenciais, que trabalha em sinergia com os óleos de Argan e Macadâmia, selagem da cutícula, realinhamento e hidratação máxima dos cabelos.</p>
    </div>
    <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
  </div>
  <div class="col-lg-4">
    <div class="thumbnail" style="height:214px;margin:0px; padding-top:0px; padding-bottom:0px">
      <img class="" src="produtos/monovim.jpg" alt="Monovim" width="140" height="140">
    </div>
    <div class="thumbnail" style="height: 200px">
      <h2>Monovin pro A</h2>
      <p>
      É um complexo condicionante, rico em elementos essenciais à flexibilidade e maciez da fibra capilar para proporcionar aos fios hidratação imediata e brilho <br>
      <b>Anti-queda / Crescimento / Força <br>
      Beleza / Cabelos saudáveis</b>
      </p>
    </div>
    <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
  </div>
  <div class="col-lg-4">
    <div class="thumbnail" style="height:214px;margin:0px; padding-top:0px; padding-bottom:0px">
      <img class="" src="produtos/ouro_reduction.jpg" alt="Ouro reduction" width="140" height="140">
    </div>
    <div class="thumbnail" style="height: 200px">
      <h2>Ouro Reduction</h2>
      <p>
        Permite  mudança da estrutura do cabelo ao 
        reduzir volume,
        diminuir o frizz, proporcionar maciez e brilho 
        intenso. O sinergismo entre os
        aminoácidos, óleos nobres, silicones e ativos 
        de ultima geração favorece a afinidade
        pela fibra capilar, resultando em fios super
        lisos, nutridos, com cutículas alinhadas.
      <br></p>
    </div>
    <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <div class="thumbnail" style="height:214px;margin:0px; padding-top:0px; padding-bottom:0px">
      <img class="" src="produtos/day_by_day.jpg" alt="Plástica dos fios" width="180" height="140">
    </div>
    <div class="thumbnail" style="height: 200px">
      <h2>Kit day by day</h2>
      <p>É composto por um Shampoo de limpeza profunda  Anti-resíduo. Mascara repositora, proporciona tratamento de hidratação profunda que reúne ativos com grande afinidade pela fibra capilar. O Condicionador também contem Goji Berry, ele é um complexo condicionante.</p>
    </div>
    <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
  </div>
  <div class="col-lg-4">
    <div class="thumbnail" style="height:214px;margin:0px; padding-top:0px; padding-bottom:0px">
      <img class="" src="produtos/botox.jpg" alt="Monovim" width="160" height="140">
    </div>
    <div class="thumbnail" style="height: 200px">
      <h2>Botox Alquimia</h2>
      <p>
      Possui um complexo equilibrado de proteínas e aminoácidos  essenciais,que trabalha em sinergia com óleos de Argan e Macadâmia, promovendo  redução imediata de volume, realinhamento e hidratação máxima dos cabelos.
      </p>
    </div>
    <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
  </div>
  <div class="col-lg-4">
    <div class="thumbnail" style="height:214px;margin:0px; padding-top:0px; padding-bottom:0px">
      <img class="" src="produtos/oil_goji_berry.jpg" alt="Ouro reduction" width="75" height="140">
    </div>
    <div class="thumbnail" style="height: 200px">
      <h2>OIL Goji Berry</h2>
      <p>
      É um complexo  concentrado de óleos botânicos  riquíssimos e umectantes que trata os cabelos secos, sem vida e danificados por químicas restaurando  a elasticidade  e saúde dos fios.
      </p>
    </div>
    <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <div class="thumbnail" style="height:214px;margin:0px; padding-top:0px; padding-bottom:0px">
      <img class="" src="produtos/mascara_blond.jpg" alt="Plástica dos fios" width="160" height="140">
    </div>
    <div class="thumbnail" style="height: 200px">
      <h2>A Mascara Blond</h2>
      <p>
        Possui em sua formulação pigmentos que  matizam o alaranjado indesejável dos cabelos loiros, agindo diretamente na neutralização destes tons. Ativos altamente  hidratantes  tratam a estrutura capilar, devolvendo aos fios naturalidade e brilho
      </p>
    </div>
    <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
  </div>
  <div class="col-lg-4">
    <div class="thumbnail" style="height:214px;margin:0px; padding-top:0px; padding-bottom:0px">
      <img class="" src="produtos/KERAVIP_cauterizacao.jpg" alt="Monovim" width="160" height="140">
    </div>
    <div class="thumbnail" style="height: 200px">
      <h2>KERAVIP Cauterização</h2>
      <p>Shampoo Limpeza, Nutritiva, Queratina  Animal, Defrizante Bio Restore.<br>
      É um complexo  de reconstrução térmica para recuperação imediata de fios 
      desvitalizados, danificados e quebrados, através da reposição de elementos 
      essenciais à saúde da fibra capilar.</p>
    </div>
    <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
  </div>

  <div class="col-lg-4">
    <div class="thumbnail" style="height:214px;margin:0px; padding-top:0px; padding-bottom:0px">
      <img class="" src="produtos/shampoo_nutri_repair.jpg" alt="Ouro reduction" width="140" height="140">
    </div>
    <div class="thumbnail" style="height: 200px">
      <h2>Shampoo Nutri Repair</h2>
      <h4>Shampoo de lavatório 5 litros</h4>
      <p>permite um tratamento inovador que restaura a queratina perdida pelos cabelos fragilizados e quimicamente modificados, proporcionando suavidade, maciez e brilho.</p>
    </div>
    <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <div class="thumbnail" style="height:214px;margin:0px; padding-top:0px; padding-bottom:0px">
      <img class="" src="produtos/impact_pos_quimica.jpg" alt="Ouro reduction" width="220" height="140">
    </div>
    <div class="thumbnail" style="height: 200px">
      <h2>IMPACT – PÓS QUIMICA</h2>
      <h4>É uma linha de manutenção para todos os tratamentos ALQUIMIA</h4>
      <p>É um complexo inovador que proporciona à fibra capilar alta carga de queratina, vitaminas e aminoácidos , restaurando a flexibilidade dos cabelos.</p>
    </div>
    <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
  </div>
  <div class="col-lg-4">
    <div class="thumbnail" style="height:214px;margin:0px; padding-top:0px; padding-bottom:0px">
      <img class="" src="produtos/impacto_pos_quimica.jpg" alt="Ouro reduction" style="width:140px">
    </div>
    <div class="thumbnail" style="height: 200px">
      <h2>IMPACTO – PÓS QUIMICA</h2>
        <p>
          Hidratação, Reposição de massa, Maciez e Flexibilidade, Ojon e Argam, Estilo Teia/ 1Kilo. <br>
          Proporciona tratamento de hidratação 
          profunda, restaurando cabelos danificados e fragilizados.
        </p>
    </div>
    <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
  </div>
</div>