<div class="container" >
  <div class="row-fluid">
    <div class="col-lg-4">
      <div class="thumbnail" style="margin:0px; padding-top:0px; padding-bottom:0px">
        <img class="" src="produtos/plastica_fios.jpg" alt="Plástica dos fios" width="140" height="140">
      </div>
      <div class="thumbnail">
        <h2>Plástica dos Fios</h2>
        <p>Todas as mulheres querem cabelos hidratados e sem frizz, Para tanto indicamos a Plastica dos Fios Alquimia que irá deixar os fios acetinados e completamente hidratados.</p>
      </div>
      <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
    </div>
    <div class="col-lg-4">
      <div class="thumbnail" style="margin:0px; padding-top:0px; padding-bottom:0px">
        <img class="" src="produtos/monovim.jpg" alt="Monovim" width="140" height="140">
      </div>
      <div class="thumbnail">
        <h2>Monovin pro A</h2>
        <p>A é um complexo condicionante, rico em elementos essenciais
          À flexibilidade e maciez da fibra capilar para proporcionar aos fios hidratação
          Imediata e brilho.
        </p>
      </div>
      <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
    </div>
    <div class="col-lg-4">
      <div class="thumbnail" style="margin:0px; padding-top:0px; padding-bottom:0px">
        <img class="" src="produtos/ouro_reduction.jpg" alt="Ouro reduction" width="140" height="140">
      </div>
      <div class="thumbnail">
        <h2>Ouro Reduction</h2>
        <p>permite  mudança da estrutura do cabelo ao reduzir volume, diminuir o frizz, proporcionar maciez e brilho intenso.<br></p>
        </div>
        <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
      </div>
    </div><!-- /.col-lg-4 -->
</div><!-- /.row -->