<div class="row">
  <div class="col-md-12">
    <div class="thumbnail">
      <img class="img-responsive" src="produtos/{{product.image}}" alt="">
      <div class="caption-full">
        <h4><a>{{product.name}}</a></h4>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <p ng-repeat="description in product.description">{{description}}</p>
              <div ng-if="product.specs.length != 0">
                <p>{{product.helpText}}
                <ul>
                  <li ng-repeat="spec in product.specs">{{spec}}</li>
                </ul>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>