<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <h3><strong>A Empresa</strong></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <p>
          A Alquimia Cosmética Capilar profissional é uma empresa brasileira, mineira criada com o objetivo de elaborar cosméticos capilares de alta eficiência com o intuito de facilitar o trabalho do profissional  atendendo suas respectivas expectativas. Para tanto, a Alquimia dispõe de uma equipe altamente especializada em pesquisa e desenvolvimento de produtos; executa um programa rigoroso de controle de qualidade; qualifica seus fornecedores; investe em matérias primas de última geração.
          Toda a vasta linha é planejada de forma a oferecer na sua formulação elementos essencial para potencializar os tratamentos e procedimentos embelezadores.
          A Alquimia atende aos profissionais de salão e disponibiliza para seus clientes a linha home care, garantindo a manutenção diária dos tratamentos, com a mesma qualidade dos produtos profissionais.
          A empresa prima pela qualidade de seus produtos para ter o reconhecimento e a fidelização de seus clientes, já que estes são a razão deste empreendimento.
          Para a Alquimia, o sucesso e o crescimento devem ser consequência de um trabalho harmonioso e bem planejado, com a participação dos seus aliados profissionais, sociedade e meio ambiente.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <h3><strong>Institucional</strong></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <p>
          A Alquimia acredita que, para manter a excelência, é preciso aplicar diariamente seus conceitos fundamentais. Missão, Visão e Valores.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <h3><strong>Missão</strong></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <p>
          Desenvolver, produzir e comercializar produtos cosméticos capilares inovadores, satisfazer os desejos de autoestima através de produtos formulados com ingredientes de última geração,biotecnológicos e naturais de alta performance, para atender as exigências do mercado consumidor Brasileiro.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <h3><strong>Visão</strong></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <p>
          Ser uma empresa de cosméticos que se destaca pela criatividade e qualidade dos produtos, sempre em busca da modernidade e inovação, e por isso, fazer parte do grupo das mais importantes fabricantes de cosméticos do Brasil.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <h3><strong>Valores</strong></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <p>
          Excelência na realização de todos os processos, os mais altos padrões de ética, preservando os valores da sociedade e mantendo comunicação clara e precisa dos seus consumidores. Compromisso respeito e acima de tudo fé em Deus.
        </p>
      </div>
    </div>
  </div>
</div>
